/* Survey page styles */

.photo{
  width: 50%;
  padding: 10px;
}

form {
  color:#fff;
}

legend {
    color: #ebff00;
    font-weight: 900;

}

form {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: center;

}

input[type="text"],
input[type="email"],
textarea,
button {
  outline: none;
  border-radius: 10px;
  border: 2px;
  padding: 5px;
  color: #101216;
  transition: .3s ease-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  background-color: red;
  color: #fff;
}

input[type="radio"]:focus+label {
  color: yellow;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-text {
  margin-right: 10px;
  display: inline-block;
}

input#name,
input#email,
input#email-repeat {
  margin-left: 15px;
}

button {
  background: yellow;
  padding: 10px;
  min-width: 150px;
  color: #101216;
  font-weight: bold;
}

button:hover {
  background: red;
}

#submit-button {
  display: none;
}



/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}



